body {
  background-color: aqua;
  margin: 0px;
  padding: 0px;
}

.top-div {
  background-color: red;
  width: 100vw;
  height: 200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 {
  background-color: blue;
  height: 200px;
  width: 50vw;
}

.div2 {
  background-color: orange;
  height: 200px;
  width: 50vw;
}
